h2
  margin: 0
#post_header_meta
  margin-top: 5px
  font-size: 11px

#post_container
  border-bottom: dotted 1px var(--text-color)
  margin-bottom: 1em
  padding-bottom: 1em

#post_content p:last-child
  margin-bottom: 0

#comments_container
  h3
    margin: 0.67em 0

.PostComment
  margin: 1em 0
  .meta
    font-size: 14px
  .replies
    padding-left: 1ch
    border-left: solid .5ch var(--text-color)
    margin-left: .5ch

.PostCommentForm
  border: 1px dotted var(--text-color)
  padding: 1em 2ch
  #commentUsername, #commentContent
    display: block
    width: 100%
    background: transparent
    color: var(--text-color)
    border: none
    outline: none
  #commentContent
    resize: none
  #commentUsername
    border-bottom: 1px dotted var(--text-color)
